
html {
	overflow-x: hidden;
	height: 100%;
	/*Image only BG fallback*/
	background: url('gs.png');
	/*background = gradient + image pattern combo*/
	background: linear-gradient(rgba(196, 102, 0, 0.2), rgba(155, 89, 182, 0.2)), url('gs.png');
}
body{
  font-size: 14px; 
  width: 100%;
  margin: auto;
  margin: 0;
  padding-right: 0 !important;
  display: block; 
  font-family: montserrat, arial, verdana; 
}
.banner {
	margin-top: 10px;
	padding-top: 10px;
}
.bannertext {
	font-size: 30px;
	font-style: ;
	font-style: bold;
	line-height: 20px;
}
.userzone {
	width: 70px;
	height: 70px;
	margin: auto;
	display: block;
	border-radius: 20px;
	margin-top: 15px;
	padding-top: 15px;
	margin-bottom:15px;
	padding-bottom:15px;
}
.userzone p {
	line-height: 0px;
	margin: 0;
	padding: 0;
}
.loggedInUserIcon{
    text-align: center;
	margin: auto;
	display: block;
	width: 40px;
	height: 40px;
}
.loggedInUserText {
	font-size: 10px;
	text-align: center;
	margin: auto;
	display: block;
	
}
.modal-dialog {
	height: 70vh;
	/*margin-left: 55%;*/
	margin-top: 1%;
}
.modal-open {
	padding-right: 0px !important;
}
body .cont {
	background-image: url('./images/bg1.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 100%;
}
.index {
	background-image: url('./images/bg1.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	padding-right: 0px !important;
}

#msform {
    text-align: center;
    position: relative;
    margin-top: 20px
}

#msform fieldset .form-card {
    background: white;
    border: 0 none;
    border-radius: 0px;
    box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.2);
    padding: 20px 40px 30px 40px;
    box-sizing: border-box;
    width: 94%;
    margin: 0 3% 20px 3%;
    position: relative;
    text-align: left;
    color: #9E9E9E;
}

#msform fieldset {
    background: white;
    border: 0 none;
    border-radius: 0.5rem;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding-bottom: 20px;
    position: relative
}

#msform fieldset:not(:first-of-type) {
    display: none
}
#msform select,
#msform input,
#msform textarea {
    padding: 0px 8px 4px 8px;
    border: none;
    border-bottom: 1px solid #ccc;
    border-radius: 0px;
    margin-bottom: 20px;
    margin-top: 2px;
    width: 100%;
    box-sizing: border-box;
    font-family: montserrat;
    color: #2C3E50;
    font-size: 14px;
    letter-spacing: 1px
}
#msform select:focus,
#msform input:focus,
#msform textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: none;
    font-weight: bold;
    border-bottom: 2px solid skyblue;
    outline-width: 0
}

#msform .btn-return
{
    border-radius: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 20%;
    font-family: montserrat;
    font-size: 14px;
    letter-spacing: 1px
    font-weight: bold;
    color: white;
    cursor: pointer;

}

#msform .action-button {
    width: 100px;
    background: skyblue;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 0px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px
}

#msform .action-button:hover,
#msform .action-button:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px skyblue
}

#msform .action-button-previous {
    width: 100px;
    background: #616161;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 0px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px
}

#msform .action-button-previous:hover,
#msform .action-button-previous:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #616161
}

.card {
    z-index: 0;
    border: none;
    border-radius: 0.5rem;
    position: relative
}

.fs-title {
    font-size: 20px;
    color: #2C3E50;
    margin-bottom: 10px;
    font-weight: bold;
    text-align: left
}

#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    color: lightgrey
}

#progressbar .active {
    color: #000000
}

#progressbar li {
    list-style-type: none;
    font-size: 12px;
    width: 25%;
    float: left;
    position: relative
}

#progressbar #laptop:before {
    font-family: 'Font Awesome 5 Free';
    content: "1"
}

#progressbar #lcd:before {
    font-family: 'Font Awesome 5 Free';
    content: "2"
}

#progressbar #authorization:before {
    font-family: 'Font Awesome 5 Free';
    content: "3"
}

#progressbar #confirm:before {
    font-family: 'Font Awesome 5 Free';
    content: "4"
}

#progressbar li:before {
    width: 50px;
    height: 50px;
    line-height: 45px;
    display: block;
    font-size: 18px;
    color: #ffffff;
    background: lightgray;
    border-radius: 50%;
    margin: 0 auto 10px auto;
    padding: 2px
}

#progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: lightgray;
    position: absolute;
    left: 0;
    top: 25px;
    z-index: -1
}

#progressbar li.active:before,
#progressbar li.active:after {
    background: skyblue
}

.radio-group {
    position: relative;
    margin-bottom: 25px
}

.radio {
    display: inline-block;
    width: 204;
    height: 104;
    border-radius: 0;
    background: lightblue;
    box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    cursor: pointer;
    margin: 8px 2px
}

.radio:hover {
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3)
}

.radio.selected {
    box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.1)
}

.fit-image {
    width: 100%;
    object-fit: cover
}
.form-errors {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 35px;
  margin-bottom: 10px;
  background-color: #f5deb3;
  border-radius: 5px;
  color: red;
}
.form-success {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 35px;
  margin-bottom: 10px;
  background-color: #f5deb3;
  border-radius: 5px;
  color: green;
}
.buttons {
	text-align: center;
	margin: auto;
	display: block;
}
.btn.btn-outline {
	border-radius: 5px;
}
.btn-gplus {
	background: red;
	color: #ffffff;
}
.btn-facebook {
	background: #3b5998;
	color: #ffffff;
}
.btn-twitter {
	background:#00bfff;
	color: #ffffff;
}
.btn-google:hover
.btn-google:focus {
	background: #c21d17;
	color: #ffffff;
	opacity:0.7;
}
.btn-facebook:hover
.btn-facebook:focus {
	background: #2d4278;
	color: #ffffff;
	opacity:0.7;
}
.btn-twitter:hover
.btn-twitter:focus {
	background: #1b8dbf;
	color: #ffffff;
	opacity:0.7;
}

.footer1 {
  position: relative;
  font-size: 14px;
  bottom: 0;
  width: 100%;
  line-height: 30px; 
}
.footer2 {
  position: relative;
  font-size: 14px;
  bottom: 0;
  width: 100%;
  line-height: 30px; 
}
.footer3 {
	position: relative;
    font-size: 14px;
	left: 0;
	bottom: 0;
	width: 100%;
	line-height: 30px; 
}
footer p{
	font-size: 12px;
	font-style: bold;
	margin: 0;
	padding: 0;
	line-height: 30px;
}